:root{
    ---bgColor: #121017;
    ---header: #1210178a;
    ---white: #fff;
    ---card: #25232b;
    ---hoverWhite: #8f8e8e;
    ---black: #000;
    ---btnPrimary: #D6B97D;
    ---btnCard: #D6B97D;
}